@keyframes social_hover {
  0% {width: 100px; height: 100px;}
  100% {width: 150px; height: 150px;}
}

body {
  background-color: #210b2c;
  font-size: 20px;
}

.navbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 99%;
  height: 10%;
  padding: 6px;
  border: 2px solid #ae759f;
  background-color: #210b2c;
}

.name {
  position: fixed;
  top: 0;
  text-align: center;
  left: 25px;
  color: #d8b4e2;
}

.main_nav {
  position: fixed;
  top: 2.5%;
  left: 70%;
  width: 26%;
  height: 5%;
  display: inline;
  background-color: #55286f;
  border: 2px solid #ae759f;
}

.about , .projects, .social{
  margin: auto;
  width: 50%;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #55286f;
  border: 2px solid #ae759f;
}

.social {
  padding: 5px;
  width: 100px;
  height: 100px;
}

.nav_link {
  padding: 5px;
  font-size: 25px;
  color: #d8b4e2;
  text-align: center;
}

#subtitle {
  color: #d8b4e2;
}

#subdesc {
  color: #bc96e6;
}

#socials {
  list-style-type: none;
  display: inline;
  width: 100px;
  height: 100px;
}

.logo {
  padding: 0;
  height: 100%;
  width: 100%;
}

.nav_link:hover {
  cursor: pointer;
  color: #ae759f;
}

.social:hover {
  animation-name: social_hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.logo:hover {
  cursor: pointer;
}
